# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Virtual environment
venv/
.env/

# Database
*.db

# Node (frontend)
node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Secrets
# Google Auth / Secrets
token.json
credentials.json
